/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #3a4f63;
    height: 100vh;
    float: left;
    color: white;
    position: fixed;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.sidebar .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 20px 0;
}

.sidebar ul li {
    padding: 10px 20px;
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #2c3e50;
    border-radius: 5px;
}

/* Main Content */
.main {
    margin-left: 250px;
    padding: 20px;
    background-color: #f4f4f9;
    min-height: 100vh;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dfe6ed;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.header .icons span {
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.header .user {
    display: flex;
    align-items: center;
}

.header .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Content */
.content {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 18px;
    color: #666;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #555;
}

/* Tabel History */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #223A5C;
    color: #fff;
}

tbody {
    background-color: #E5E7ED;
}

.content a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Form Pelaporan */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}
